.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #f4f4f4;
  height: 100vh;
}

h1 {
  padding-top: 5rem;
  margin-bottom: 20px;
  color: #007bff;
}

.wallet-setup, .wallet-info {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  max-width: 600px;
}

.create-wallet-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.create-wallet-button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.error {
  color: red;
  margin-top: 10px;
}

.wallet-details {
  margin-bottom: 20px;
  font-size: large;
}

.secret-key-section {
  padding-top: 10px;
  margin: 20px 0;
}

.secret-key-textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: monospace;
}

.toggle-visibility-button,
.copy-button {
  background-color: #007bff;
  color: #fff;
  border:none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 19px;
  margin: 10px;
  font-weight: bold;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
}

.toggle-visibility-button:hover,
.copy-button:hover {
  opacity: 0.7;
}

.transaction-form {
  margin-top: 5rem;
  padding: 30px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
  margin-top: 1rem;
}

.transaction-input {
  width: calc(100% - 70px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.send-transaction-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 40px;
  border-radius: 10px;
  cursor: pointer;
  
  font-size: 22px;
  font-weight: bold;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
}

.send-transaction-button:hover {
  opacity: 0.7;
}

.fetch-buttons {
  margin-top: 20px;
}

.fetch-button,
.delete-wallet-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 19px;
  margin: 9px;
  font-weight: bold;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';

}

.fetch-button:hover,
.delete-wallet-button:hover {
  opacity: 0.7;
}

.delete-wallet-button {
  background-color: #dc3545;
}

.balance-info {
  margin-top: 20px;
}

.tokens-list {
  margin-top: 20px;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.token-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.token-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.token-details {
  text-align: left;
}

.token-link {
  color: #007bff;
  text-decoration: none;
}

.token-link:hover {
  text-decoration: underline;
}

.no-tokens-found {
  color: #dc3545;
}
